{{- if .Values.controllerManager.webhook.enabled }}
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name:  kthena-controller-manager-validating-webhook
  labels:
    app.kubernetes.io/component: webhook
    {{- include "kthena.labels" . | nindent 4 }}
webhooks:
  - name: validate-modelbooster.volcano.sh
    admissionReviewVersions: [ "v1" ]
    sideEffects: None
    failurePolicy: Fail
    timeoutSeconds: 30
    clientConfig:
      service:
        name: kthena-controller-manager-webhook
        namespace: {{ .Release.Namespace }}
        path: "/validate/modelbooster"
        port: 443
      {{- if .Values.controllerManager.webhook.tls.autoGenerateCert }}
      caBundle: ""
      {{- else }}
      caBundle: {{ required "A caBundle is required for the kthena-controller-manager validating webhook when auto-generate-cert is disabled" .Values.global.webhook.caBundle | quote }}
      {{- end }}
    rules:
      - apiGroups: [ "workload.serving.volcano.sh" ]
        apiVersions: [ "v1alpha1" ]
        resources: [ "modelboosters" ]
        operations: [ "CREATE", "UPDATE" ]
        scope: "Namespaced"
  - name: validate-autoscalingpolicy.volcano.sh
    admissionReviewVersions: [ "v1" ]
    sideEffects: None
    failurePolicy: Fail
    timeoutSeconds: 30
    clientConfig:
      service:
        name: kthena-controller-manager-webhook
        namespace: {{ .Release.Namespace }}
        path: "/validate/autoscalingpolicy"
        port: 443
      {{- if .Values.controllerManager.webhook.tls.autoGenerateCert }}
      caBundle: ""
      {{- else }}
      caBundle: {{ required "A caBundle is required for the kthena-controller-manager validating webhook when auto-generate-cert is disabled" .Values.global.webhook.caBundle | quote }}
      {{- end }}
    rules:
      - apiGroups: [ "workload.serving.volcano.sh" ]
        apiVersions: [ "v1alpha1" ]
        resources: [ "autoscalingpolicies" ]
        operations: [ "CREATE", "UPDATE" ]
        scope: "Namespaced"
  - name: validate-autoscalingpolicybinding.volcano.sh
    admissionReviewVersions: [ "v1" ]
    sideEffects: None
    failurePolicy: Fail
    timeoutSeconds: 30
    clientConfig:
      service:
        name: kthena-controller-manager-webhook
        namespace: {{ .Release.Namespace }}
        path: "/validate/autoscalingpolicybinding"
        port: 443
      {{- if .Values.controllerManager.webhook.tls.autoGenerateCert }}
      caBundle: ""
      {{- else }}
      caBundle: {{ required "A caBundle is required for the kthena-controller-manager validating webhook when auto-generate-cert is disabled" .Values.global.webhook.caBundle | quote }}
      {{- end }}
    rules:
      - apiGroups: [ "workload.serving.volcano.sh" ]
        apiVersions: [ "v1alpha1" ]
        resources: [ "autoscalingpolicybindings" ]
        operations: [ "CREATE", "UPDATE" ]
        scope: "Namespaced"
{{- end }}
